@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

$custom-font-color-main:#000865;
$custom-font-color-light:#6571ff;
$custom-font-color-gray:#666;
$sticky-column-bg:#fff;

body{
    font-family: "Noto Sans TC";
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 1rem !important;
}

.card .card-title{
    font-size: 1.3rem !important;
    font-weight: bold !important;
}
.card .card-sub-title{
    font-size: 1rem;
    font-weight: bold;
    margin:0.875rem 0;
}
h4{
    color:$custom-font-color-gray;
    span{
        color:$custom-font-color-light;
        margin:0 .3rem;
    }
}
//demo
#apply-form-group{
    display: none;
}
.th-m{
    font-weight: bold !important;
}
.auth-page .auth-side-wrapper{
    background-image: url(../../assets/images/219x452.jpg);
}
.sidebar .sidebar-body .nav .nav-item .nav-link .link-title{
    font-size: 1rem;
}
.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link{
    font-size: .875rem;
}
.ta-apply-table{
    thead{
        background: $sticky-column-bg;
        tr{
            background: $sticky-column-bg;
            th:nth-child(5){
                position: sticky !important;
                left:0;
                background: $sticky-column-bg;
                z-index:9;
            }
        }
    }
    td:nth-child(5){
        position: sticky;
        left:0;
        background: $sticky-column-bg;
    }
}